@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font: 18px 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: whitesmoke;
}

.container {
  display: grid;
  grid-template-columns: auto 649px auto;
  grid-template-rows: auto 280px auto auto auto;
  grid-template-areas:
    ". header ."
    ". command ."
    ". toolbar ."
    ". messages ."
    ". footer .";
}

.header {
  grid-area: header;
  font-family: Consolas,Liberation Mono,Courier,monospace;
  text-align: center;
  letter-spacing: 10px;
  background: #afafaf;
  border-radius: 7px 7px 0px 0px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.command {
  grid-area: command;
  background: #1f1f1f;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.toolbar {
  grid-area: toolbar;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

textarea {
  width: 95%;
  height: 250px;
  resize: none;
  border: 0;
  margin: 0;
  background: transparent;
  line-height: 21px;
  font-size: 20px;
  font-family: Consolas,Liberation Mono,Courier,monospace;
  padding: 10px;
  color: #bbb529;
}

textarea:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
}

.buttons {
  background: #afafaf;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 4px;
  border-radius: 0px 0px 7px 7px;
}

.buttons > button {
  width: 100px;
  padding: 20px;
  border: none;
  border-radius: 7px;
  color: #fff;
  background-color: #455;
  font: 18px 'Roboto', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #988;
}

.error {
  display: none;
  grid-area: messages;
  margin-top: 5px;
  padding: 10px;
  border-radius: 7px;
  color: #d8000c;
  background-color: #ffbaba;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.footer {
  border-top: 1px solid #c9cacc;
  grid-area: footer;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
}
