body {
  margin: 0;
}

.traffic-light {
  background-color: #222;
  border: 5px solid black;
  width: 190px;
  height: 520px;
}
.light {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 25px;
  border: 5px solid black;
  opacity: .2;
  cursor: pointer;
}
.on { opacity: 1; }
#red { background-color: red; }
#yellow { background-color: gold; }
#green { background-color: #0f5; }
